<h2>Listado de permisos</h2>

<div class="alert alert-info" role="alert" *ngIf="!permisos || permisos?.length === 0">
  No hay permisos que listar
</div>

<div class="row" *ngIf="permisos?.length > 0">
  <div class="col-md-3" *ngFor="let permiso of permisos">
    <div class="card text-center" [ngClass]="{'bg-secondary': permiso.loading}">
      <h5 class="card-header">{{permiso.nombreEmpleado}} {{permiso.apellidosEmpleado}}</h5>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Tipo Permiso: {{permiso.tipoPermiso.descripcion}}</h6>
        <p class="card-text">Fecha: {{permiso.fechaPermiso | date:'MM/dd/yyyy'}}</p>
        <a style="cursor: pointer;" (click)="deleteClick(permiso)" class="card-link text-danger"> [ Eliminar ]</a>
      </div>
    </div>
  </div>
</div>
